* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: monospace;
}

main {
  display: flex;
  width: 70vh;
  height: 100vh;
  position: relative;
}

#topDiv {
  background-color: beige;
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 66vh;
  height: 23vh;
  display: flex;
}

#titleDiv {
  width: 43vh;
  height: 23vh;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(70, 30, 12);
}

#leftDiv {
  background-color: rgb(65, 69, 129);
  width: 25vh;
  padding: 25vh 2vh 2vh 2vh;
  color: beige;
}

h2 {
  font-size: 1.5rem;
}

img {
  width: 23vh;
}

#rightDiv {
  width: 45vh;
  display: flex;
  flex-direction: column;
}

#topRightDiv {
  background-color: rgb(170, 141, 102);
  height: 25vh;
}

#bottomRightDiv {
  background-color: beige;
  height: 75vh;
}
